@import url(https://fonts.googleapis.com/css?family=EB+Garamond:regular,500,600,700,800,italic,500italic,600italic,700italic,800italic);
@import url(https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300italic,regular,italic,500,500italic,600,600italic,700,700italic);

body{

    font-family: 'Cormorant Garamond';
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    background-color: #111;
}

.container{
    max-width: 1330px;
    padding: 0 15px;
    margin: 0 auto;
}

.header{
    background-color: #111;
    background-image: url(./../img/header/header_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    max-width: 100%;
    height: 100vh;
    position: relative;
}

.nav{
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255,255,255, 0.5);
}

.menu_left, .menu_right{
    display: flex;
    column-gap: 80px;
}
.menu_left a, .menu_right a {
    color: #fff;
    font-weight: 600;
    transition: all 0.3s ease-in;
    padding-bottom: 2px;
    
}

.menu_left a:hover, .menu_right a:hover{
    color: #CDAA7D;
    border-bottom: #CDAA7D 1px solid;
    
}

.menu_btn_right{
    cursor: pointer;
    transition: padding-top 0.2s ease-in-out;   
    
}

.menu_btn_right:hover{
    padding-top: 5px;
    
}

.header h1{
    max-width: 550px;
    margin: 0 auto;
    font-family: 'EB Garamond';
    font-weight: 500;
    font-size: 72px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.mouse{
    display: flex;
    align-items: center;
    position: absolute;
    right: 46%;
    bottom: 100px;
    transform: translateX(-50%);
    color: #fff;
    column-gap: 20px;
    animation: spin 3s infinite linear;
    transition: transform 0.3s ease-in;
}

.close_btn{
    position: absolute;
    left: 120px;
    top: 30px;
    cursor: pointer;
    
    transition: padding-top 0.3s ease-in-out;

    
  }

  .close_btn:hover{
    padding-top: 5px;
  }

@keyframes spin {
    0% {
      transform: translate3d(0, -10%, 0);
    }
    50% {
      transform: translate3d(0, 10%, 0);
    }
    100% {
      transform: translate3d(0, -10%, 0);
    }
  }

  .menu_content{
    opacity: 0;
    right: -475px;
    height: 0;
  }

  .menu_content-wrapper{
    display: block;
    padding-top: 246px;
    padding-left: 80px;
    max-width: 320px;
  }

  .menu_mobile{
    display: none;
    flex-direction: column;
    row-gap: 20px;
    padding-bottom: 60px;
  }

  .menu_mobile a{
    color: #fff;
    transition: color 0.3s ease-in;
  }

  .menu_mobile a:hover{
    color: #CDAA7D;
  }


  .contact{
    padding: 80px 0 60px;
  }

  .menu_content-wrapper h3{
    font-family: 'EB Garamond';
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
  }

  .contact p, .time p {
    font-size: 17px;
    line-height: 1.5;
  }

  .active{
    background-color: #111;
    width: 475px;
    height: 100vh;
    color: #fff;
    opacity: 1;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9;
    transition: all 0.5s ease-in-out;
  }

  .noactive{
    background-color: #111;
    width: 475px;
    height: 100vh;
    color: #fff;
    opacity: 1;
    position: fixed;
    top: 0;
    right: -475px;
    z-index: -9;
    transition: all 0.5s ease-in-out;
  }

  /*quote*/

  .quote{
    padding: 120px 0 75px;
    max-width: 856px;
    margin: 0 auto;
    text-align: center;
    
  }

  .quote img{
    margin-bottom: 60px;
  }

  .quote p {
    font-size: 27px;
    font-weight: 600;
    line-height: 1.3;
    padding-bottom: 20px;
  }

  /*services*/

  .services{
    margin-bottom: 150px;
  }

  .services_wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 60px;
    column-gap: 24px;
  }

  .services_cart{
    display: flex;
    flex-direction: column;
    max-width: 416px;

    position: relative;
    z-index: 1;
   
  }

  .services_cart img{
    transition: transform 0.3s ease-in-out;
  }

  .services_cart:hover img {
    transform: scale(1.01);
    
  } 

  .services_cart::after{
    content: "";
    max-width: 396px;
    width: 100%;
    height: 300px;
    position: absolute;
    border: 1px solid #CDAA7D;
    top: -20px;
    right: -20px;
    z-index:-1;
  }



  .services_cart-link{
    margin-top: 10px;
    font-family: 'EB Garamond';
    font-size: 30px;
    line-height: 1.2;
    color: #fff;
    border-bottom: transparent 1px solid;
  }

  .services_cart:hover .services_cart-link{
      color: #CDAA7D;
      transition: all 0.3s ease-in-out;
  }


  .masters{
    margin: 120px 0;
  }

  .masters_wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 60px;
    column-gap: 24px;
  }

  .masters_cart{
    display: flex;
    flex-direction: column;
    max-width: 416px;

    position: relative;
    z-index: 1;
   
  }

  .masters_cart img{
    transition: transform 0.3s ease-in-out;
  }

  .masters_cart:hover img {
    transform: scale(1.01);
    
  } 

  .masters_cart::after{
    content: "";
    max-width: 396px;
    width: 100%;
    height: 477px;
    position: absolute;
    border: 1px solid #CDAA7D;
    top: -20px;
    right: -20px;
    z-index:-1;
  }



  .masters_cart-link{
    margin-top: 10px;
    font-family: 'EB Garamond';
    font-size: 30px;
    line-height: 1.2;
    color: #fff;
    border-bottom: transparent 1px solid;
  }

  .masters_cart:hover .masters_cart-link{
      color: #CDAA7D;
      transition: all 0.3s ease-in-out;
  }

  .prof{
    color: #fff;
    font-weight: 400;
  }
 
  /*partners*/

.partners{
    margin-bottom: 170PX;
}
.partners_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 170px;
}

.partners_wrapper img{
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
}

.partners_wrapper img:hover{
    opacity: 1;
}

/*my works*/

.my_works{
    font-family: 'EB Garamond';
    text-align: center;
    font-size: 48px;
    font-weight: 500;
}

.title{
font-family: 'EB Garamond';
    text-align: center;
    font-size: 48px;
    font-weight: 500;
}


.tab {
    overflow: hidden;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    column-gap: 60px;
  }

  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 18px;
    border-bottom: 1px solid transparent;
  }

  /* Change background color of buttons on hover */
  .tab button:hover {
    color: #CDAA7D;
    border-bottom: 1px solid #CDAA7D;
  }

  /* Create an active/current tablink class */
  .tab button.active_tab {
    color: #CDAA7D;
    border-bottom: 1px solid #CDAA7D;
  }


  /* Style the tab content */

  .tabcontent {
    display: none;
    margin-top: 55px;
  }
  


  .tab_content_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 24px;
  }

  .tab_content_wrapper img{
    width: 100%;
    max-width: 416px;
    transition: transform 0.3s ease-in-out;
  }

  .tab_content_wrapper img:hover{
    transform: scale(1.02);
  }

/* footer */

.footer{
    margin-top: 100px;
    padding: 80px 0;
    border-bottom: 1px solid rgba(255,255,255, 0.5);
    border-top: 1px solid rgba(255,255,255, 0.5);
}

.footer_wrapper{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;

}

.footer_wrapper h3{
    font-family: 'EB Garamond';
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    padding-bottom: 20px;
}

.footer_wrapper p{
    padding-bottom: 15px;
}

.footer_contact{
    max-width: 297px;
}

.footer_time{
    max-width: 176px;
}

.copy{
    padding: 30px 0;
    text-align: center;
    color: #888;
}

services_cart-test{
    position: relative;
}


/*maps*/

.title{
    padding-top: 80px;
}

.maps{
    padding: 80px 0;
}

.ymaps-layers-pane {
	filter:contrast(175%) brightness(103%) sepia(50%) grayscale(1);
	-ms-filter:contrast(175%) brightness(103%) sepia(50%) grayscale(1);
	-webkit-filter:contrast(175%) brightness(103%) sepia(50%) grayscale(1);
	-moz-filter:contrast(175%) brightness(103%) sepia(50%) grayscale(1);  
	-o-filter:contrast(175%) brightness(103%) sepia(50%) grayscale(1);
}

/*price*/
.price_wrapper{
    display: flex;
    align-items: center;
     justify-content: space-between;
   /*  flex-wrap: wrap; */
    margin-top: 80px;
    column-gap: 30px;
}

.price_wrapper:nth-child(odd){
    flex-direction: row-reverse;
}

.price{
    
    max-width: 526px;
    width: 100%;
}

.price_item{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;  
    border-bottom: 1px solid rgba(255,255,255, 0.5);
    padding-bottom:20px;
    padding-top: 40px;
}

.price_img{
    width: 639px;
}

.price_item_info h3, .price_summ{
    font-size:27px;
    font-weight: 600;
    line-height: 1.3;
    padding-bottom: 10px;
}