@media(max-width:1360px){
.services_cart::after{
top: -15px;
right: -15px;
}
}

@media(max-width:1284px){
    .services_wrapper{
        justify-content: center;
        column-gap: 60px;
    }
    }


@media(max-width:1000px){
    .menu_left, .menu_right {
    column-gap: 40px;
}
}

@media(max-width: 900px){
    .menu_left, .menu_right{
        display: none;
    }
    .menu_mobile{
        display: flex;
        padding-bottom: 25px;
    }

    .menu_content-wrapper{
        padding-top: 120px;
        
    }
    .contact {
        padding: 25px 0 25px;
    }
    .header h1{
        font-size: 60px;
    }

    .partners_wrapper{
        column-gap: 50px;
    }

    .quote p{
        font-size: 20px;
        padding: 0 10px;
    }

    .quote{
        padding: 40px 0;
    }
    
.partners{
    margin-bottom: 50px;
}
.services {
    margin-bottom: 60px;
}
.footer{
    margin-top: 50px;
    padding: 40px 0;
}
    

}

@media(max-width: 815px){
    .footer_wrapper{
        align-items: center;
        flex-direction: column;
        row-gap: 20px;
        text-align: center;
    }
}

@media(max-width: 765px){
    .tab{
        column-gap: 5px;
    }
}


@media(max-width: 600px){
    .tab{
        flex-direction: column;
    }
   
}

@media(max-width: 460px){
    .services_cart::after{
        border: 0px;
    }
}

@media(max-width: 450px){
    .menu_content-wrapper{
        padding-left: 25px;
        padding-right: 20px;
    }

    .active{
        max-width: 475px;
        width: 100%;
    }

    .noactive{
        max-width: 475px;
        width: 100%;
    }
    .close_btn{
        left: 29px;
    }

    .header h1{
        font-size: 50px;
    }
}


@media(max-width: 400px){
    .mouse{
        right: 0;
        left: 20%;
    }

    
}